<div class="bg-primary pd-10   flex wrap content-center  ">

    <div class="mgl--2">
        <h1>ZOEY MARKET</h1>
        <P>first of it kind in Nigeria, Management is now better!!!! </P>
    </div>




@* 
    <div class=" pd mgl-2 mgr-2   bg-highlight ">
        <a href="/Faq" class="fsz-17 ">F.A.Q</a>

    </div> *@


    <div class="flex content-center">

        <div class="">
            <h3 class="fsz-18 ">PRODUCTS</h3>
            <div class="grid ">
                <a href="STOREKEEPER" class="fsz-18  cl-black ">STOREKEEPER</a>
                <a href="POS" class="fsz-18  cl-black ">ZOEY POS</a>
                <a class="fsz-18  cl-black "> PRICE TAG</a>
                <!-- <a href="https://zoey.africa/Handyman" class="fsz-18 cl-black ">HANDYMAN</a> -->
                <!-- <a href="" class="fsz-18 cl-black "> IOT</a> -->
                <a href="https://zoey.africa/school/" class="fsz-18 cl-black ">ZOEY SCHOOL</a>
            </div>





        </div>



        <!-- <div class="mgl-12 ">
                <h3 class="fsz-18  ">Get In Touch</h3>

                <div class="grid ">
                    <a class="fsz-18 cl-black  ">Questions or Feedback?</a>
                    <a href="j" class="fsz-18  cl-white  ">We'd love to hear from you?</a>
                </div>


            </div> -->



    </div>

</div>
