<div class="wvl-5   ">



    <div class="   pd-5 flex flex-center   bg-success  ">
        <div>

            <a href="/zoey.html " class="align-center content-center bg-card    fsz-25 pd-2 mgt   corner-2">
                <img src="/icon.png " class="wx-04 " alt="" srcset=""></a>
        </div>


        <div class="fill mgl-22"></div>


        <div class="">
            <i class="mdi mdi-menu fsz-32 "></i>

            @* @onclick="SidebarClick" *@
        </div>






    </div>

    <div class="fsz-15 flex  bg-primary pd mgt--30 pos    mgt--30">

        <ul class="stack">

            <a href="/s" class="mg fsz-20 cl-card "> STOREKEEPER </a>
            <a href="POS" class="mg fsz-20 cl-card">POS</a>
            <a class=" fsz-20 bg-success fsz-12 pd-3 wx-09 corner-2 " href="#pricing">Pricing</a>

        </ul>

        <div>
            <i class="mdi mdi-multiplication bg-card cl-black corner-2 fsz-22"></i>
        </div>
    </div>


</div>