<div class="" id="pricing">
    <div class="flex pd content-center wrap fsz-9   bd-23">
        <div class="clickable" @onclick="daily">
            <h1>Daily</h1>
            <p>Every Daily</p>
        </div>

        <div class="clickable" @onclick="monthly">
            <h1>Monthly</h1>
            <p>Every Month</p>
        </div>

        <div class="clickable" @onclick="quaterly">
            <h1>Qualerly</h1>
            <p>Every three month</p>
        </div>

        <div class="clickable" @onclick="yearly">
            <h1>Annually</h1>
            <p>Every Year</p>
        </div>
    </div>

    <div class=" grid colm-2   gap-2  pdy  mgl-2     ">

        <div class="bg-highlight  hf  pd-6  ">
            <div class="flex ">
                <img src="/img/items_sold.png" alt="" class="wp-22  mgr-5">
                <div>
                    <h3 class="fsz-27 "> BASIC </h3>
                    <p class="fsz-17 mgt--9" id="basicPrice">#@basicPrice</p>
                </div>

            </div>
            <p>Zoey POS/Storekeeper <span class="mdi mdi-check"></span></p>
            <p>Add up to 15 products <span class="mdi mdi-check"></span></p>
            <p>Print Receipt <span class="mdi mdi-check"></span></p>
            <p>WEB access and mobile app only <span class="mdi mdi-check"></span></p>
            <p>See all your transaction at a go . <span class="mdi mdi-check"></span></p>


        </div>

        <div class="bg-success  hf  pd-6 ">
            <div class="flex ">
                <img src="/img/revenue.png" alt="" class="wp-18 mgr-5 ">
                <div>
                    <h3 class="fsz-25  mgl--2 ">STANDARD </h3>
                    <p class="fsz-17 mgt--9" id="standardPrice">#@standardPrice</p>
                </div>

            </div>

            <p>ZOEY POS <span class="mdi mdi-check"></span></p>
            <p>STOREKEEPER <span class="mdi mdi-check"></span> </p>
            <p>ZOEY POS <span class="mdi mdi-check"></span></p>
            <p>2 STAFF <span class="mdi mdi-check"></span></p>
            <p>EXPORT EXCEL SHEET <span class="mdi mdi-check"></span></p>
            <p>30 PRODUCTS <span class="mdi mdi-check"></span></p>
            <p>Scan Product feature <span class="mdi mdi-check"></span></p>
            <p>can you a price Price tag <span class="mdi mdi-check"></span></p>
            <p>WEB, Mobile APP, Desktop Software <span class="mdi mdi-check"></span></p>

        </div>


        <div class="bg-fatal  hf  pd-6 ">
            <div class="flex ">
                <img src="/img/total_orders.png" alt="" class="wp-21  mgr-5">
                <div>
                    <h3 class="fsz-27 ">PREMIUM</h3>
                    <p class="fsz-17 mgt--5  " id="premuiymPrice">#@premiumPrice</p>
                </div>

            </div>

            <div>
                <p>STOREKEEPER <span class="mdi mdi-check"></span></p>
                <p>ZOEY POS <span class="mdi mdi-check"></span></p>
                <p>5 STAFF <span class="mdi mdi-check"></span></p>
                <p>EXPORT EXCEL SHEET <span class="mdi mdi-check"></span></p>
                <p>50 PRODUCTS <span class="mdi mdi-check"></span></p>
                <p>TELEGRAM BOT ASSISTANCE <span class="mdi mdi-check"></span></p>
                <p>Scan Product feature <span class="mdi mdi-check"></span></p>
                <p>can you a price Price tag <span class="mdi mdi-check"></span></p>
                <p>WEB, Mobile APP, Desktop Software <span class="mdi mdi-check"></span></p>
                <p>Report features <span class="mdi mdi-check"></span></p>
                <p>ZoeyMarket Display <span class="mdi mdi-check"></span></p>


            </div>


        </div>





    </div>




</div>
