<div class="stack wvg-5">
    <div class="flex mgb-4  pd-5   bg-success  ">
        <a href="/zoey.html " class="align-center content-center bg-card    fsz-25 pd-2 mgt   corner-2">
            <img src="/icon.png " class="wx-04 " alt="" srcset=""></a>
        <!-- <i class="mdi mdi-eye cl-primary fsz-40  mgl-5"></i> -->

        <div class="fill"></div>


        <ul class="fsz-15 ">

            <a href="STOREKEEPER" class="mg fsz-20 "> STOREKEEPER </a>
            <a href="POS" class="mg fsz-20">POS</a>
            <a class="cl-primary fsz-20 bg-card fsz-12  pd-1  corner-2 " href="#pricing">Pricing</a>

        </ul>
        <div class="fill"></div>





    </div>

</div>



@* for smaller screen *@


<div class="stack wvl-5">

    <div class="flex mgb-4  pd-5   bg-success  ">
        <a href="/ " class="align-center content-center bg-card    fsz-25 pd-2 mgt   corner-2">
            <img src="/icon.png " class="wx-04 " alt="" srcset=""></a>
        <h1 class="mgl-2 mgt-9 ">ZoeyStore</h1>
        <div class="fill"></div>

      
        <div class="fill"></div>


        <div class="pd-2 mgt-4">
            <i class="mdi mdi-menu fsz-42 " @onclick="Toggle"></i>

        </div>


    </div>


    @* dropdow *@


    <div class="pd hx-6 bg-success mgt--5  @(opened?"":"d-hide")">
        <div class=" fill"></div>



        <ul class="fsz-15 stack">

            <a href="STOREKEEPER" class="mg fsz-20 "> STOREKEEPER </a>
            <a href="POS" class=" fsz-20 pd ">POS</a>
            <a class="cl-primary fsz-20 bg-card fsz-12  pd-6  corner-2 " href="#pricing">Pricing</a>

        </ul>
        <div class="fill"></div>



    </div>



 





</div>










