<!DOCTYPE html>
<html lang="en" class="ltroot">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="ZoeyStoreKeeperLandingPage.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />

    <link rel="stylesheet" href="LivingThing.Core.Frameworks.Client.css">
    <link rel="stylesheet" href="mdi/css/materialdesignicons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <HeadOutlet />
</head>


<body class=" bg-card " style="font-family: Cambria, Cochin, Georgia, Times,  serif;">
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
