@page "/"

<PageTitle>Home</PageTitle>
@rendermode InteractiveServer


<section id="one">

    <div class="content-center box">
        <h1 class="fsz-40  text-center flex">
            Management become better with ZOEY Storekeeper.
        </h1>
    </div>

    <div class="content-center">

        <img src="/img/desktop.png" class="wp-45  ">

    </div>

</section>
<!-- 
    <div class="">
        <video id="myVideo" src="on fun.mp4"  controls></video>

    </div> -->

<section id="two">


    <div class="text-center mgt-16 ">
        <p class=" fsz-27 ">
            Zoey Store is ready to do more for you...
        </p>
    </div>


    <div class="content-center grid mgt-6 pdy bg-highlight  ">


        <div class=" grid colm-2   wrap  gap-1 pd-8 ">

            <div class="   hf  pd-6 bg-primary  ">
                <i class="mdi  mdi-abacus "></i>
                <h3 class="fsz-27 "> Manage Better</h3>

                <p class="fsz-16 ">Management become smooth when you can control your
                    staffs, make orders, see your income
                    and revenue instantly.
                </p>

                <p> Also See all your transaction at a go.</p>



            </div>

            <div class=" hf   pd-6 bg-secondary ">
                <i class="mdi mdi-cart"></i>
                <h3 class="fsz-27 ">No More Traditional ways </h3>
                <p class="fsz-16 ">Say goodbye to paperwork and hello to efficiency as
                    you effortlessly track inventory, manage orders, optimie your
                    store's performance..</p>

            </div>


            <div class="    hf  pd-6 bg-primary-01 ">
                <i class="mdi mdi-cloud-check"></i>
                <h3 class="fsz-27 ">Cloud Data </h3>
                <p class="fsz-16 ">Streamline your store MANAGEMENT like never before
                    with our
                    revolutionary solution.</p>

            </div>

            <div class="   hf  pd-6 bg-primary-02 ">
                <i class="mdi mdi-sync"></i>
                <h3 class="fsz-27  ">Syn </h3>
                <p class="fsz-16 ">with intuitive features designed specifically for STOREKEEPERS,
                    you will reclaim your time and focus on what truly matters.</p>

            </div>

            <div class=" hf  pd-6 bg-primary-04 ">
                <i class="mdi mdi-cube-scan"></i>
                <h3 class="fsz-27 ">Real Time Data</h3>
                <p class="fsz-16 ">Everywhere you go, you are in control.</p>

            </div>

            <div class="flex hf   pd-6  ">


                <div>
                    <img src="/zo/img/home.png" alt="" class="mawx-25 mgl--15 ">

                    <h1 class=" fsz-15 mawx-15  "> Do More On Your Mobile Phone <span
                            class="mdi mdi-cellphone-link"></span></h1>
                </div>
            </div>




        </div>
    </div>
</section>


<section class=" ltroot  ">
    <div class=" content-center grid  bg-primary pd ">
        <div class="fsz-18">

            <h2 class="pd">Overview</h2>
            <p>Efficient inventory management is crucial for business success...</p>
        </div>


        <div class=" fsz-18 align-center   wrap  gap-1 pd-8 ">

            <h2>Features</h2>
            <p>Inventory Management</p>
            <p>Purchase Order Management</p>
            <p>Warehouse Management</p>
            <p>Product Categorization</p>
            <p>Inventory Reports</p>

        </div>




    </div>

</section>

<section class="ltroot ">

    <div class="content-center  align-center bg-success pd  mgb-12">
        <div>


            <p class="fsz-22 ">Zoeystore Storekeeper offers numerous advantages...</p>
            <p class="mgt--5 mgb-12 ">The Zoeystore Storekeeper is perfect for wholesalers, e-commerce businesses,
                and large
                retailers... </p>

            <h2>Integration with POS</h2>
            <p>Combine the power of Zoeystore Storekeeper with our POS system for a
                fully integrated business solution...</p>
        </div>

    </div>

</section>


<!-- ############### pricing section ###############  -->
<Pricing></Pricing>
<!-- END  -->

<FAQ></FAQ>
<Footer></Footer>

<!-- FOOOTER  -->
<!-- FOOOTER  -->
