@page "/POS"

<PageTitle>POS</PageTitle>



    <div class="stack">
   

        <section class="fsz-22 mgl-12 pd   stack    content-center">
            <div>

                <h1>Streamline Your Sales with ZoeyBusiness POS</h1>
                <p class="fsz-18 mawv-50 content-center">
                    Discover how our cutting-edge POS system can revolutionize your operations
                    . Our solution is designed with simplicity in mind, offering
                    intuitive interfaces and seamless integration to make your day-to-day tasks more efficient..</p>

                <div class="content-center  ">
                    <button class=" bg-success pd-7 mgb-12 corner-12 mgt-12 "> <a href="https:/zoey.africa/StockKeeper"
                            class="fsz-17     ">Get Started</a>
                    </button>
                </div>


            </div>


        </section>


        <section class="flex flex-center pd">

            <img src="/ZoeyStorekeeper/img/home.png" alt="" class="mawv-60  ">
            <h2 class=" mgr-22"> Amazing Landing Screen With A perfect Display
                Of Every Information You Need at a Go </h2>
        </section>



        <section class="flex flex-center">
            <h2 class="pd mgl-22  ">PrintOut The Perfect Kind Of RECEIPTS Your Business
                need for Every Transaction That Carry Your Business Name... </h2>
            <!-- <img src="/img/receipts.png" alt="" class="mawv-60"> -->
            <img src=" /ZoeyStorekeeper/img/receipts.png" alt="" class="mawv-60">


           

        </section>


    </div>

    <section>
        <div class="content-center">
            <video src="/img/lv_0_20240912151629~2.mp4" class="mawv-70  wx-23  mgt-12 mgb-12" autoplay muted></video>
        </div>
    </section>


    <Footer></Footer>